- return unless current_user

%ul
  %li.current-user
    .user-name.bold
      = current_user.name
    = current_user.to_reference
    - if current_user.status
      .user-status-emoji.str-truncated.has-tooltip{ title: current_user.status.message_html, data: { html: 'true', placement: 'bottom' } }
        = emoji_icon current_user.status.emoji
        = current_user.status.message_html.html_safe
  %li.divider
  - if can?(current_user, :update_user_status, current_user)
    %li
      .js-set-status-modal-trigger{ data: { has_status: current_user.status.present? ? 'true' : 'false' } }
  - if current_user_menu?(:profile)
    %li
      = link_to s_("CurrentUser|Profile"), current_user, class: 'profile-link', data: { user: current_user.username }
  - if current_user_menu?(:settings)
    %li
      = link_to s_("CurrentUser|Settings"), profile_path
  - if current_user_menu?(:sign_out)
    %li.divider
    %li
      = link_to _("Sign out"), destroy_user_session_path, class: "sign-out-link"
